
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  height: 80px;
  background: #000;
  color: #fff;
}

.navbar h1{
  font-size: 2.5rem;
}

.navlink{
  display: flex;
  gap: 100px;
}

.navlink a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navlink .active{
  color: cornflowerblue;
  font-weight: bold;
}

.Home .heading{
  text-align: center;
  font-size: 3rem;
  margin-block: 10px;
}

.Home h3{
  font-size: 2.5rem;
  text-align: center;
}

.products-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 15px; */
}

.products-container .card {
  width: 400px;
  /* height: 800px; */
  padding: 5px;
  margin-block: 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.products-container .card img{
  /* width: 200px; */
  height: 200px;
}

.products-container .card h3{
  text-align: center;
  margin-block: 10px;
  font-size: 2rem;
}

.products-container .card p{
  text-align: center;
  font-size: 1rem;
}

.card .price{
  font-weight: bold;
  font-size: 1.5rem;
  margin-block: 10px;
}

.card button, .item-container button{
  margin-block: 30px;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(63, 63, 236);
  color: #fff;
  cursor: pointer;
}

.card button:hover, .item-container button:hover{
  background-color: rgb(97, 97, 235);
}

.Cart{
  margin-inline: 30px;
}

.Cart h2{
  text-align: center;
  font-size: 2rem;
  margin-block: 30px;
}

.item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  padding-block: 30px;
  margin-block: 30px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

.item-container img{
  width: 100px;
  height:100px;
}

.item-container .price, .item-container .title{
  font-weight: bold;
  font-size: 1.5rem;
}
